
version: 2.1
jobs:
  shellcheck:
    docker:
      - image: alpine:3.7
        auth:
          username: 'cimg/python:3.9.0'
          password: $DOCKERHUB_PASSWORD  # context / project UI env-var reference
    steps:
      - run:
          name: The First Step
          command: |
            sudo npm install newman &
            newman run ProdAPITests.json
workflows:
  version: 2.1
  check-build:
    jobs:
      - shellcheck
      - The First Step:
          requires:
            - shellcheck
          filters:
            branches:
              only: master
