jobs:
  newman-collection-run:
    executor: newman/postman-newman-docker
    steps:
      - checkout
      - newman/newman-run:
          collection: ./ProdAPITests.json
orbs:
  newman: postman/newman@0.0.2
version: 2.1
workflows:
  version: 2
  build-test-and-approval-deploy:
    jobs:
      - hold:
        type: approval
        requires:
          - newman-collection-run
      - deploy:
        requires:
          - hold
