
version: 2.1
jobs:
  build:
    docker:
      - image: alpine:3.7
        auth:
          username: "11772299"
          password: no  # context / project UI env-var reference
    steps:
      - run:
          name: The First Step
          command: |
            sudo npm install newman &
            newman run ProdAPITests.json
